/* table{
    display: none;
} */

table {
    border-collapse: collapse;
    margin: auto;
}

table tr td {
    width: 25px;
    height: 25px;
    border: 0.4px solid #00000061;
    transition: background-color 0.3s;
}

.unvisited {
    background-color: white;
}

.wall {
    background-color: #37474f;
    border: 0.4px solid #37474f;
}

.visited {
    /* background-color: #5E35B1; */
    background-color: #5b5ca1;
    transition: background-color 1s;
}

.path {
    background-color: #ffff00;
    border: 0.4px solid #ffff00;
    transition: background-color 1s;
    transition: border 1.1s;
}

.start-node {
    background-color: green;
    border: 0.4px solid green;
    transition: background-color 0.3;
}

.end-node {
    background-color: red;
    border: 0.4px solid red;
    transition: background-color 0.3;
}

.btn-class {
    display: flex;
    margin: 30px;
    justify-content: space-evenly;
    justify-items: center;
}

.speed {
    display: flex;
    align-items: center;
    justify-content: center;
}
